
<div class="collections-title collection-header" style="background-image: url({{ 'bg_collections_title.png' | asset_img_url: 'master' }});">
    <div class="collection-header__title" style="background-image: url({{ 'bg_title_collection.png' | asset_img_url: 'master' }});">
        <h1>MUJER</h1>
    </div>
</div>


<div class="collections-page">
    <section class="collections-page__option" style="background-image: url({{ 'bg_paper.png' | asset_img_url: 'master' }});">
        <div class="image left">
            <img src="{{ 'mujer-uniformes_completos.png' | asset_img_url: 'master' }}" alt="Uniformes completos">
        </div>
        <div class="name">
            <img src="{{ 'tape.png' | asset_img_url: 'master' }}" class="bgx">
            <h2>UNIFORMES COMPLETOS</h2>
            <a href="https://tocho-is-life-mx.myshopify.com/collections/uniformes-completos-mujer" class="btn-black">Ver más</a>
        </div>
    </section>
    <section class="collections-page__option" style="background-image: url({{ 'bg_option_yellow.png' | asset_img_url: 'master' }});">
        <div class="name">
            <img src="{{ 'tape.png' | asset_img_url: 'master' }}" class="bgx">
            <h2 class="text-white">SHORTS</h2>
            <a href="https://tocho-is-life-mx.myshopify.com/collections/shorts-mujer" class="btn-black">Ver más</a>
        </div>
        <div class="image">
            <img src="{{ 'mujer-shorts.png' | asset_img_url: 'master' }}" alt="Uniformes completos">
        </div>
    </section>
    <section class="collections-page__option" style="background-image: url({{ 'bg_option_paper.png' | asset_img_url: 'master' }});">
        <div class="image left">
            <img src="{{ 'mujer-lycra.png' | asset_img_url: 'master' }}" alt="Uniformes completos">
        </div>
        <div class="name">
            <img src="{{ 'tape.png' | asset_img_url: 'master' }}" class="bgx">
            <h2>LICRAS</h2>
            <a href="https://tocho-is-life-mx.myshopify.com/collections/licras-mujer" class="btn-black">Ver más</a>
        </div>
    </section>
    <section class="collections-page__option" style="background-image: url({{ 'bg_option_yellow.png' | asset_img_url: 'master' }});">
        <div class="name">
            <img src="{{ 'tape.png' | asset_img_url: 'master' }}" class="bgx">
            <h2 class="text-white">PLAYERAS</h2>
            <a href="https://tocho-is-life-mx.myshopify.com/collections/playeras-mujer" class="btn-black">Ver más</a>
        </div>
        <div class="image">
            <img src="{{ 'mujer-playeras.png' | asset_img_url: 'master' }}" alt="Uniformes completos">
        </div>
    </section>
    <section class="collections-page__option" style="background-image: url({{ 'bg_option_paper.png' | asset_img_url: 'master' }});">
        <div class="image left">
            <img src="{{ 'mujer-sudaderas.png' | asset_img_url: 'master' }}" alt="Uniformes completos">
        </div>
        <div class="name">
            <img src="{{ 'tape.png' | asset_img_url: 'master' }}" class="bgx">
            <h2>SUDADERAS</h2>
            <a href="https://tocho-is-life-mx.myshopify.com/collections/sudaderas-mujer" class="btn-black">Ver más</a>
        </div>
    </section>
    <section class="collections-page__option" style="background-image: url({{ 'bg_option_yellow.png' | asset_img_url: 'master' }});">
        <div class="name">
            <img src="{{ 'tape.png' | asset_img_url: 'master' }}" class="bgx">
            <h2 class="text-white">BODY</h2>
            <a href="https://tocho-is-life-mx.myshopify.com/collections/body-mujer" class="btn-black">Ver más</a>
        </div>
        <div class="image">
            <img src="{{ 'mujer-body.png' | asset_img_url: 'master' }}" alt="Uniformes completos">
        </div>
    </section>
</div>
